* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.FlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: stretch;
    width: 100%;
    background-color: #313131;
    height: 100vh;
    overflow: auto;
    flex-direction: row;

}

.cont-titulo h1 {
    font-size: 60px;
    font-weight: bold;
}

.flex-items:nth-child(1) {
    width: 550px;
    height: 80%;
    margin: 1px;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
}

.flex-items:nth-child(2) {
    width: 550px;
    height: 80%;
    margin: 1px;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
}

.flex-items img {
    height: 100%;   
}

.cont-texto {
    margin: 20px;
}

.cont-titulo {
    margin: 20px;
}

.cont-botoes-grupo {
    margin: 20px;
}

.cont-botoes-qr {
    margin: 2px;
}

.cont-botoes {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;


}

.cont-botoes-grupo {

    width: 60%;
}

.cont-botoes-qr {
    display: flex;
    width: 40%;
    height: fit-content;
    justify-content: center;
    align-items: flex-end;
    align-content: center;

}

.cont-botoes-qr img {
    width: 90%;
    padding: auto;

}

.btn {
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 100%;    
    color: rgb(255, 255, 255);
    margin: 10px;
}

.btn:hover {
    background-color: rgb(15, 15, 15);
    color: aliceblue;
}